@layout("/common/_container.html"){
<section class="larry-grid">
    <div class="larry-personal">
        <header class="larry-personal-tit">
            <span>年级管理</span>
        </header>
        <div class="larry-personal-body clearfix">
            <form class="layui-form" layui-filter="menuOperation">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="layui-form-item">
                            <#NameCon id="gradeName" name="年级名称" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="layui-form-item">
                            <#NameCon id="level" name="学段" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="layui-form-item">
                            <#button name="搜索" filter="gradeSearch"/>
                        </div>
                    </div>
                    <div class="layui-sm-3">

                    </div>
                </div>
            </form>
            <form class="layui-form">
                <div id="menuTableToolbar" class="layui-form-item layui-btn-group">
                    <#button name="添加" icon="&#xe654;" filter="gradeAdd"/>
                    <#button name="修改" icon="&#xe642;" filter="gradeChange"/>
                    <#button name="删除" icon="&#xe640;" filter="gradeDelete"/>
                </div>
            </form>
            <table id="gradeTable"></table>
        </div>
    </div>
    <script src="${ctxPath}/static/modular/base/grade/grade.js"></script>
</section>
@}