@layout("/common/_container.html"){
<form class="layui-form" id="menuInfoForm">
    <input type="hidden" id="id" value="" />
    <div class="layui-form-item">
        <#input id="name" name="题库名称" verify="required" underline="true" />
    </div>

    <div class="layui-form-item">
        <#input id="logo" name="logo" verify="required" underline="true" />
    </div>
    <div class="layui-form-item">
        <#select id="gradeLevel" name="学段">
            @for(gradeLevel in gradeLevels){
            <option value="${gradeLevel.code}">${gradeLevel.name}</option>
            @}
        </#select>
    </div>
    <div class="layui-form-item">
        <#select id="subject" name="学科">
            @for(subject in subjects){
            <option value="${subject.id}">${subject.name}</option>
            @}
        </#select>
    </div>
    <div class="layui-form-item">
        <#select id="status" name="状态">
            @for( status in statuses){
            <option value="${status.code}">${status.status}</option>
            @}
        </#select>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <#button name="提交" id="ensure" filter="addSubmit"/>
            <#button name="取消" id="cancel" filter="close"/>
        </div>
    </div>
</form>

<script src="${ctxPath}/static/modular/questionDb/questionDb/questionDb_info.js"></script>
@}
