body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u1147 {
  position:absolute;
  left:14px;
  top:86px;
  width:50px;
  height:80px;
}
#u1148 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1149 {
  position:absolute;
  left:24px;
  top:60px;
  width:29px;
  height:16px;
}
#u1150 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1151 {
  position:absolute;
  left:167px;
  top:96px;
  width:100px;
  height:60px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1151_ref {
  position:absolute;
  left:259px;
  top:146px;
  width:1px;
  height:1px;
}
#u1153 {
  position:absolute;
  left:64px;
  top:126px;
  width:0px;
  height:0px;
}
#u1153_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:107px;
  height:8px;
}
#u1153_seg1 {
  position:absolute;
  left:88px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1155 {
  position:absolute;
  left:368px;
  top:96px;
  width:100px;
  height:60px;
}
#u1156 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1155_ref {
  position:absolute;
  left:460px;
  top:146px;
  width:1px;
  height:1px;
}
#u1157 {
  position:absolute;
  left:267px;
  top:126px;
  width:0px;
  height:0px;
}
#u1157_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:105px;
  height:8px;
}
#u1157_seg1 {
  position:absolute;
  left:86px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1158 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1159 {
  position:absolute;
  left:368px;
  top:252px;
  width:100px;
  height:60px;
}
#u1160 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1159_ref {
  position:absolute;
  left:460px;
  top:302px;
  width:1px;
  height:1px;
}
#u1161 {
  position:absolute;
  left:267px;
  top:126px;
  width:0px;
  height:0px;
}
#u1161_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u1161_seg1 {
  position:absolute;
  left:47px;
  top:-4px;
  width:8px;
  height:164px;
}
#u1161_seg2 {
  position:absolute;
  left:47px;
  top:152px;
  width:54px;
  height:8px;
}
#u1161_seg3 {
  position:absolute;
  left:86px;
  top:146px;
  width:20px;
  height:20px;
}
#u1162 {
  position:absolute;
  left:1px;
  top:70px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1163 {
  position:absolute;
  left:418px;
  top:252px;
  width:0px;
  height:0px;
}
#u1163_seg0 {
  position:absolute;
  left:-4px;
  top:-96px;
  width:8px;
  height:100px;
}
#u1163_seg1 {
  position:absolute;
  left:-10px;
  top:-101px;
  width:20px;
  height:20px;
}
#u1164 {
  position:absolute;
  left:-50px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1165 {
  position:absolute;
  left:570px;
  top:96px;
  width:100px;
  height:60px;
}
#u1166 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1165_ref {
  position:absolute;
  left:662px;
  top:146px;
  width:1px;
  height:1px;
}
#u1167 {
  position:absolute;
  left:468px;
  top:126px;
  width:0px;
  height:0px;
}
#u1167_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u1167_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1168 {
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1169 {
  position:absolute;
  left:796px;
  top:96px;
  width:100px;
  height:60px;
}
#u1170 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1169_ref {
  position:absolute;
  left:888px;
  top:146px;
  width:1px;
  height:1px;
}
#u1171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1171 {
  position:absolute;
  left:796px;
  top:306px;
  width:100px;
  height:60px;
}
#u1172 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1171_ref {
  position:absolute;
  left:888px;
  top:356px;
  width:1px;
  height:1px;
}
#u1173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1173 {
  position:absolute;
  left:796px;
  top:726px;
  width:100px;
  height:60px;
}
#u1174 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1173_ref {
  position:absolute;
  left:888px;
  top:776px;
  width:1px;
  height:1px;
}
#u1175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1175 {
  position:absolute;
  left:796px;
  top:1006px;
  width:100px;
  height:60px;
}
#u1176 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1175_ref {
  position:absolute;
  left:888px;
  top:1056px;
  width:1px;
  height:1px;
}
#u1177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1177 {
  position:absolute;
  left:1010px;
  top:96px;
  width:100px;
  height:60px;
}
#u1178 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1177_ref {
  position:absolute;
  left:1102px;
  top:146px;
  width:1px;
  height:1px;
}
#u1179 {
  position:absolute;
  left:896px;
  top:126px;
  width:0px;
  height:0px;
}
#u1179_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u1179_seg1 {
  position:absolute;
  left:99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1180 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1181 {
  position:absolute;
  left:1010px;
  top:166px;
  width:100px;
  height:60px;
}
#u1182 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1181_ref {
  position:absolute;
  left:1102px;
  top:216px;
  width:1px;
  height:1px;
}
#u1183 {
  position:absolute;
  left:896px;
  top:126px;
  width:0px;
  height:0px;
}
#u1183_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u1183_seg1 {
  position:absolute;
  left:61px;
  top:-4px;
  width:8px;
  height:78px;
}
#u1183_seg2 {
  position:absolute;
  left:61px;
  top:66px;
  width:53px;
  height:8px;
}
#u1183_seg3 {
  position:absolute;
  left:99px;
  top:60px;
  width:20px;
  height:20px;
}
#u1184 {
  position:absolute;
  left:15px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1185 {
  position:absolute;
  left:670px;
  top:126px;
  width:0px;
  height:0px;
}
#u1185_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:130px;
  height:8px;
}
#u1185_seg1 {
  position:absolute;
  left:111px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1186 {
  position:absolute;
  left:13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1187 {
  position:absolute;
  left:670px;
  top:126px;
  width:0px;
  height:0px;
}
#u1187_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u1187_seg1 {
  position:absolute;
  left:48px;
  top:-4px;
  width:8px;
  height:218px;
}
#u1187_seg2 {
  position:absolute;
  left:48px;
  top:206px;
  width:78px;
  height:8px;
}
#u1187_seg3 {
  position:absolute;
  left:111px;
  top:200px;
  width:20px;
  height:20px;
}
#u1188 {
  position:absolute;
  left:2px;
  top:108px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189 {
  position:absolute;
  left:670px;
  top:126px;
  width:0px;
  height:0px;
}
#u1189_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u1189_seg1 {
  position:absolute;
  left:48px;
  top:-4px;
  width:8px;
  height:638px;
}
#u1189_seg2 {
  position:absolute;
  left:48px;
  top:626px;
  width:78px;
  height:8px;
}
#u1189_seg3 {
  position:absolute;
  left:111px;
  top:620px;
  width:20px;
  height:20px;
}
#u1190 {
  position:absolute;
  left:2px;
  top:318px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191 {
  position:absolute;
  left:670px;
  top:126px;
  width:0px;
  height:0px;
}
#u1191_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u1191_seg1 {
  position:absolute;
  left:48px;
  top:-4px;
  width:8px;
  height:918px;
}
#u1191_seg2 {
  position:absolute;
  left:48px;
  top:906px;
  width:78px;
  height:8px;
}
#u1191_seg3 {
  position:absolute;
  left:111px;
  top:900px;
  width:20px;
  height:20px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:458px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1193 {
  position:absolute;
  left:1010px;
  top:306px;
  width:100px;
  height:60px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1193_ref {
  position:absolute;
  left:1102px;
  top:356px;
  width:1px;
  height:1px;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1195 {
  position:absolute;
  left:1010px;
  top:376px;
  width:100px;
  height:60px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1195_ref {
  position:absolute;
  left:1102px;
  top:426px;
  width:1px;
  height:1px;
}
#u1197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1197 {
  position:absolute;
  left:1010px;
  top:446px;
  width:100px;
  height:60px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1197_ref {
  position:absolute;
  left:1102px;
  top:496px;
  width:1px;
  height:1px;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1199 {
  position:absolute;
  left:1010px;
  top:516px;
  width:100px;
  height:60px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1199_ref {
  position:absolute;
  left:1102px;
  top:566px;
  width:1px;
  height:1px;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1201 {
  position:absolute;
  left:1010px;
  top:586px;
  width:100px;
  height:60px;
}
#u1202 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1201_ref {
  position:absolute;
  left:1102px;
  top:636px;
  width:1px;
  height:1px;
}
#u1203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1203 {
  position:absolute;
  left:1010px;
  top:656px;
  width:100px;
  height:60px;
}
#u1204 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1203_ref {
  position:absolute;
  left:1102px;
  top:706px;
  width:1px;
  height:1px;
}
#u1205 {
  position:absolute;
  left:896px;
  top:336px;
  width:0px;
  height:0px;
}
#u1205_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u1205_seg1 {
  position:absolute;
  left:99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1206 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207 {
  position:absolute;
  left:896px;
  top:336px;
  width:0px;
  height:0px;
}
#u1207_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u1207_seg1 {
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:78px;
}
#u1207_seg2 {
  position:absolute;
  left:63px;
  top:66px;
  width:51px;
  height:8px;
}
#u1207_seg3 {
  position:absolute;
  left:99px;
  top:60px;
  width:20px;
  height:20px;
}
#u1208 {
  position:absolute;
  left:17px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209 {
  position:absolute;
  left:896px;
  top:336px;
  width:0px;
  height:0px;
}
#u1209_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u1209_seg1 {
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:148px;
}
#u1209_seg2 {
  position:absolute;
  left:63px;
  top:136px;
  width:51px;
  height:8px;
}
#u1209_seg3 {
  position:absolute;
  left:99px;
  top:130px;
  width:20px;
  height:20px;
}
#u1210 {
  position:absolute;
  left:17px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211 {
  position:absolute;
  left:896px;
  top:336px;
  width:0px;
  height:0px;
}
#u1211_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u1211_seg1 {
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:218px;
}
#u1211_seg2 {
  position:absolute;
  left:63px;
  top:206px;
  width:51px;
  height:8px;
}
#u1211_seg3 {
  position:absolute;
  left:99px;
  top:200px;
  width:20px;
  height:20px;
}
#u1212 {
  position:absolute;
  left:17px;
  top:87px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213 {
  position:absolute;
  left:896px;
  top:336px;
  width:0px;
  height:0px;
}
#u1213_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u1213_seg1 {
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:288px;
}
#u1213_seg2 {
  position:absolute;
  left:63px;
  top:276px;
  width:51px;
  height:8px;
}
#u1213_seg3 {
  position:absolute;
  left:99px;
  top:270px;
  width:20px;
  height:20px;
}
#u1214 {
  position:absolute;
  left:17px;
  top:122px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215 {
  position:absolute;
  left:896px;
  top:336px;
  width:0px;
  height:0px;
}
#u1215_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u1215_seg1 {
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:358px;
}
#u1215_seg2 {
  position:absolute;
  left:63px;
  top:346px;
  width:51px;
  height:8px;
}
#u1215_seg3 {
  position:absolute;
  left:99px;
  top:340px;
  width:20px;
  height:20px;
}
#u1216 {
  position:absolute;
  left:17px;
  top:157px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1217 {
  position:absolute;
  left:1010px;
  top:726px;
  width:100px;
  height:60px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1217_ref {
  position:absolute;
  left:1102px;
  top:776px;
  width:1px;
  height:1px;
}
#u1219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1219 {
  position:absolute;
  left:1010px;
  top:796px;
  width:100px;
  height:60px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1219_ref {
  position:absolute;
  left:1102px;
  top:846px;
  width:1px;
  height:1px;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1221 {
  position:absolute;
  left:1010px;
  top:866px;
  width:100px;
  height:60px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1221_ref {
  position:absolute;
  left:1102px;
  top:916px;
  width:1px;
  height:1px;
}
#u1223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1223 {
  position:absolute;
  left:1010px;
  top:936px;
  width:100px;
  height:60px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1225 {
  position:absolute;
  left:896px;
  top:756px;
  width:0px;
  height:0px;
}
#u1225_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u1225_seg1 {
  position:absolute;
  left:99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1226 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227 {
  position:absolute;
  left:896px;
  top:756px;
  width:0px;
  height:0px;
}
#u1227_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u1227_seg1 {
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:78px;
}
#u1227_seg2 {
  position:absolute;
  left:63px;
  top:66px;
  width:51px;
  height:8px;
}
#u1227_seg3 {
  position:absolute;
  left:99px;
  top:60px;
  width:20px;
  height:20px;
}
#u1228 {
  position:absolute;
  left:17px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229 {
  position:absolute;
  left:896px;
  top:756px;
  width:0px;
  height:0px;
}
#u1229_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u1229_seg1 {
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:148px;
}
#u1229_seg2 {
  position:absolute;
  left:63px;
  top:136px;
  width:51px;
  height:8px;
}
#u1229_seg3 {
  position:absolute;
  left:99px;
  top:130px;
  width:20px;
  height:20px;
}
#u1230 {
  position:absolute;
  left:17px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231 {
  position:absolute;
  left:896px;
  top:756px;
  width:0px;
  height:0px;
}
#u1231_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u1231_seg1 {
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:218px;
}
#u1231_seg2 {
  position:absolute;
  left:63px;
  top:206px;
  width:51px;
  height:8px;
}
#u1231_seg3 {
  position:absolute;
  left:99px;
  top:200px;
  width:20px;
  height:20px;
}
#u1232 {
  position:absolute;
  left:17px;
  top:87px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1233 {
  position:absolute;
  left:1010px;
  top:236px;
  width:100px;
  height:60px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1233_ref {
  position:absolute;
  left:1102px;
  top:286px;
  width:1px;
  height:1px;
}
#u1235 {
  position:absolute;
  left:896px;
  top:126px;
  width:0px;
  height:0px;
}
#u1235_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u1235_seg1 {
  position:absolute;
  left:61px;
  top:-4px;
  width:8px;
  height:148px;
}
#u1235_seg2 {
  position:absolute;
  left:61px;
  top:136px;
  width:53px;
  height:8px;
}
#u1235_seg3 {
  position:absolute;
  left:99px;
  top:130px;
  width:20px;
  height:20px;
}
#u1236 {
  position:absolute;
  left:15px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1237 {
  position:absolute;
  left:1010px;
  top:1006px;
  width:100px;
  height:60px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1237_ref {
  position:absolute;
  left:1102px;
  top:1056px;
  width:1px;
  height:1px;
}
#u1239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1239 {
  position:absolute;
  left:1010px;
  top:1076px;
  width:100px;
  height:60px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1239_ref {
  position:absolute;
  left:1102px;
  top:1126px;
  width:1px;
  height:1px;
}
#u1241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1241 {
  position:absolute;
  left:1010px;
  top:1146px;
  width:100px;
  height:60px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1241_ref {
  position:absolute;
  left:1102px;
  top:1196px;
  width:1px;
  height:1px;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1243 {
  position:absolute;
  left:1010px;
  top:1216px;
  width:100px;
  height:60px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1243_ref {
  position:absolute;
  left:1102px;
  top:1266px;
  width:1px;
  height:1px;
}
#u1245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1245 {
  position:absolute;
  left:1010px;
  top:1286px;
  width:100px;
  height:60px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1245_ref {
  position:absolute;
  left:1102px;
  top:1336px;
  width:1px;
  height:1px;
}
#u1247 {
  position:absolute;
  left:896px;
  top:1036px;
  width:0px;
  height:0px;
}
#u1247_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u1247_seg1 {
  position:absolute;
  left:99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1248 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249 {
  position:absolute;
  left:896px;
  top:1036px;
  width:0px;
  height:0px;
}
#u1249_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u1249_seg1 {
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:78px;
}
#u1249_seg2 {
  position:absolute;
  left:63px;
  top:66px;
  width:51px;
  height:8px;
}
#u1249_seg3 {
  position:absolute;
  left:99px;
  top:60px;
  width:20px;
  height:20px;
}
#u1250 {
  position:absolute;
  left:17px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251 {
  position:absolute;
  left:896px;
  top:1036px;
  width:0px;
  height:0px;
}
#u1251_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u1251_seg1 {
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:148px;
}
#u1251_seg2 {
  position:absolute;
  left:63px;
  top:136px;
  width:51px;
  height:8px;
}
#u1251_seg3 {
  position:absolute;
  left:99px;
  top:130px;
  width:20px;
  height:20px;
}
#u1252 {
  position:absolute;
  left:17px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253 {
  position:absolute;
  left:896px;
  top:1036px;
  width:0px;
  height:0px;
}
#u1253_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u1253_seg1 {
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:218px;
}
#u1253_seg2 {
  position:absolute;
  left:63px;
  top:206px;
  width:51px;
  height:8px;
}
#u1253_seg3 {
  position:absolute;
  left:99px;
  top:200px;
  width:20px;
  height:20px;
}
#u1254 {
  position:absolute;
  left:17px;
  top:87px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255 {
  position:absolute;
  left:896px;
  top:1036px;
  width:0px;
  height:0px;
}
#u1255_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u1255_seg1 {
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:288px;
}
#u1255_seg2 {
  position:absolute;
  left:63px;
  top:276px;
  width:51px;
  height:8px;
}
#u1255_seg3 {
  position:absolute;
  left:99px;
  top:270px;
  width:20px;
  height:20px;
}
#u1256 {
  position:absolute;
  left:17px;
  top:122px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
