
.x-panel{
    padding-top: 15px;
}

.x-panel .x-panel-title{

}

.x-panel .x-panel-title .x-panel-title-left{
    float:left;
    font-size: 25px
}

.x-panel .x-panel-title .x-panel-title-right{
    float:right;
    margin-top: 1%
}