@layout("/common/_container.html"){
<form class="layui-form" id="menuInfoForm">
    <input type="hidden" id="id" value="${menu.id}">
    <input type="hidden" id="ismenuValue" value="${menu.ismenu}">
    <div class="layui-form-item">
        <#input id="name" name="名称" value="${menu.name}" underline="true" />
    </div>
    <div class="layui-form-item">
        <#input id="code" name="菜单编号" value="${menu.code}" underline="true" />
    </div>
    <div class="layui-form-item">
        <#input id="pcodeName" name="父级编号" value="${menu.pcodeName}" underline="true" clickFunc="showMenuSelectTree()"/>
    </div>
    <div class="layui-form-item">
        <#select id="ismenu" name="是否是菜单">
            <option value="1">是</option>
            <option value="0">不是</option>
        </#select>
    </div>
    <div class="layui-form-item">
        <#input id="url" name="请求地址" value="${menu.url}" underline="true" />
    </div>
    <div class="layui-form-item">
        <#input id="num" name="排序" value = "${menu.num}" underline="true" />
    </div>
    <div class="layui-form-item">
        <#input id="icon" name="图标" value = "${menu.icon}" underline="false" />
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <#button name="提交" id="ensure" clickFun="MenuInfoDlg.addSubmit()"/>
            <#button name="取消" id="cancel" clickFun="MenuInfoDlg.close()"/>
        </div>
    </div>
</form>
<script src="${ctxPath}/static/modular/system/menu/menu_info.js"></script>

@}
