@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>教材管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="TextBook.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="TextBookTableToolbar" role="group">
                                <#button name="添加" icon="fa-plus" clickFun="TextBook.openAddTextBook()"/>

                                <#button name="修改" icon="fa-plus" clickFun="TextBook.openTextBookDetail()" space="true"/>

                                <#button name="删除" icon="fa-plus" clickFun="TextBook.delete()" space="true"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>小学</h1>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2>语文</h2>
                            </div>
                            <div>
                                <div class="row text-center">
                                    <div class="col-lg-3">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="${ctxPath}/static/img/default_text_cover.jpg" class="img-responsive">
                                            </div>
                                            <a href="http://www.baidu.com">
                                                <div class="col-lg-12">
                                                    <h4>必修一</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="${ctxPath}/static/img/default_text_cover.jpg" class="img-responsive">
                                            </div>
                                            <a href="http://www.baidu.com">
                                                <div class="col-lg-12">
                                                    <h4>必修一</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="${ctxPath}/static/img/default_text_cover.jpg" class="img-responsive">
                                            </div>
                                            <a href="http://www.baidu.com">
                                                <div class="col-lg-12">
                                                    <h4>必修一</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="${ctxPath}/static/img/default_text_cover.jpg" class="img-responsive">
                                            </div>
                                            <a href="http://www.baidu.com">
                                                <div class="col-lg-12">
                                                    <h4>必修一</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="${ctxPath}/static/img/default_text_cover.jpg" class="img-responsive">
                                            </div>
                                            <a href="http://www.baidu.com">
                                                <div class="col-lg-12">
                                                    <h4>必修一</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="${ctxPath}/static/img/default_text_cover.jpg" class="img-responsive">
                                            </div>
                                            <a href="http://www.baidu.com">
                                                <div class="col-lg-12">
                                                    <h4>必修一</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="${ctxPath}/static/img/default_text_cover.jpg" class="img-responsive">
                                            </div>
                                            <a href="http://www.baidu.com">
                                                <div class="col-lg-12">
                                                    <h4>必修一</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="${ctxPath}/static/img/default_text_cover.jpg" class="img-responsive">
                                            </div>
                                            <a href="http://www.baidu.com">
                                                <div class="col-lg-12">
                                                    <h4>必修一</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="${ctxPath}/static/img/default_text_cover.jpg" class="img-responsive">
                                            </div>
                                            <a href="http://www.baidu.com">
                                                <div class="col-lg-12">
                                                    <h4>必修一</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/base/textBook/textBook.js"></script>
@}
