@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${textBook.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="name" name="name" underline="true" value="${textBook.name}"/>
                    <#input id="logo" name="logo" underline="true" value="${textBook.logo}"/>

                    <#select id="gradeLevel" name="学段">
                        @for(gradeLevel in gradeLevels){
                        <option value="${gradeLevel.code}">${gradeLevel.name}</option>
                        @}
                    </#select>

                    <#select id="subject" name="学科">
                        @for(subject in subjects){
                        <option value="${subject.id}">${subject.name}</option>
                        @}
                    </#select>


                    <#select id="status" name="状态">
                        @for(status in statuses){
                        <option value="${status.code}">${status.status}</option>
                        @}
                    </#select>
                </div>

                <div class="col-sm-6">

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TextBookInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TextBookInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/base/textBook/textBook_info.js"></script>
@}
